/* font-family: 'Fugaz One', sans-serif; */




































.MontaukLight
{
    font-family: MontaukLight;
    color: #5F002B;
}





hr{
    color: #5F002B ;
    opacity: 100;
}

/* div.a{
    padding:50px;
} */


.card-body{
    line-height: .5;
}

.insideBodySpacing{
    line-height: 1;
}

.xAxisPaddingCard{
padding-left:5% ;
padding-right:5% ;
}

div.b {
    line-height: 1 !important;
}








/* body start */
.ourMenu{
    background-color: white;
    font-size:50px ;
    font-family: 'Fugaz One', sans-serif;
    text-align: center;
    color: #5F002B;

}
/* body end */




.headerFont{
    font-size:30px ;
    font-family: 'Fugaz One', sans-serif;
    color: #5F002B;
}

.discFont{
    font-size: 16px;
    font-family: MontaukLight;
    color: #5F002B;
    line-height: 1;
}

.discFont2{
    font-size: 20px;
    font-family: MontaukRegular;
    color: #5F002B;
    line-height: 1;
}

.entreeFont{
    font-family: MontaukLight;
    font-size: 30px;
    color: #5F002B;
    line-height: 1;
    margin-bottom: 0;
}
.priceFont{
    font-family: MontaukLight;
    font-size: 30px;
    color: #5F002B;
}

.menuSpacing{
    padding-top: 4%;
}

.catering0Spacing{
    padding-top: 80px;
}
.catering1Spacing{
    padding-top: 90px;
}

.catering2Spacing{
    padding-top: 100px;
}


@media screen and (max-width: 620px) {
   

    .entreeFont{
        font-family: MontaukLight;
        font-size: 20px;
        color: #5F002B;
        line-height: 1;
        margin-bottom: 0;
    }
    .priceFont{
        font-family: MontaukLight;
        font-size: 20px;
        color: #5F002B;
    }
    .padding{
        padding-left: 3%;
        padding-right: 3%;
    }
    .ourMenu{
        background-color: white;
        font-size:30px ;
        font-family: 'Fugaz One', sans-serif;
        text-align: center;
        color: #5F002B;
    
    }
    
  }
