/* mainly marcos code start */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.rightFooterText{
font-size: 20px;
text-align: end;
}

.leftFooterText{
font-size: 20px;
text-align: start;
}

.rightFooterLogo{
display: flex;
justify-content: right;
}

.marginTag{
  margin-right:7.29% ;
  margin-left: 7.29%;
}

.MontaukLight
{
  font-family: MontaukLight;
  color: #5F002B;
}

hr{
  color: #5F002B ;
  opacity: 100;
}

.card-bodyMarcos{
  line-height: .5;
}

.insideBodySpacing{
  line-height: 1;
}

.xAxisPaddingCard{
padding-left:5% ;
padding-right:5% ;
}

div.b {
  line-height: 1 !important;
}


.ourMenu{
  background-color: white;
  font-size:50px ;
  font-family: 'Fugaz One', sans-serif;
  text-align: center;
  color: #5F002B;

}

.headerFont{
  font-size:30px ;
  font-family: 'Fugaz One', sans-serif;
  color: #5F002B;
}

.discFont{
  font-size: 20;
  font-family: MontaukLight;
  color: #5F002B;
  line-height: 1;
}

.discFont2{
  font-size: 20px;
  font-family: MontaukRegular;
  color: #5F002B;
  line-height: 1;
}

.entreeFont{
  font-family: MontaukLight ;
  font-size: 35px ;
  color: #5F002B;
  line-height: 1;
  margin-bottom: 0;
}
.priceFont{
  font-family: MontaukLight;
  font-size: 35px;
  color: #5F002B;
}

.menuSpacing{
  padding-top: 4%;
}

.catering0Spacing{
  padding-top: 4.58%;
}
.catering1Spacing{
  padding-top: 4.80%;
}

.catering2Spacing{
  padding-top: 5.25%;
}



/* mainly marcos code end */


/* mainly aiden code start */



.indexFont{
  font-size: 50px;
  color: #5f002b;
  font-family: "Fugaz One", sans-serif;

}

.indexPaddingX1{
  padding-top: 6.9%;
}

.homePictureV2{
  height: 449.5px;
  width: 100%;
  object-fit: cover;
  
}



a:hover {
  color: #5f002b;
}
body {
  background-image: url(../assets/bgtexture.jpg);
  color: #5f002b;
  font-size: 20px;
}

@font-face {
  font-family: MontaukBold;
  src: url(../Fonts/Montauk-Bold.otf);
}

@font-face {
  font-family: MontaukRegular;
  src: url(../Fonts/Montauk-Regular.otf);
}

@font-face {
  font-family: MontaukItalic;
  src: url(../Fonts/Montauk-Italic.otf);
}

@font-face {
  font-family: MontaukLight;
  src: url(../Fonts/Montauk-Light.otf);
}
.mainPicture {
  width: 100%;
  object-fit: cover;
}

.fugazOne {
  font-family: "Fugaz One", sans-serif;
  color: #5f002b;
}

.Montauk {
  font-family: MontaukRegular;
  color: #5f002b;
}

.boldMe {
  font-family: MontaukBold;
}

.italisizeMe {
  font-family: MontaukItalic;
}
.lighterText {
  font-family: MontaukLight;
  color: #5f002b;
}

.navFontAdjust {
  font-size: 20px;
  font-family: "Fugaz One", sans-serif;
  color: #5f002b;
}

.padding {
  padding-left: 7.29%;
  padding-right: 7.29%;
}
.centerMe {
  display: flex;
  justify-content: center;
}
.logoSizing {
  width: 290px;
  height: 92px;
}
.SBTG {
  background-color: white;
  padding-left: 2%;
  padding-top: 2.5%;
  line-height: 1;
}
.homePicture {
  height: 100%;
  width: 100%;
/* mainly aiden code end */





}
/* Mainly Ak code */
.border {
  border: 10px solid white !important;
}




/* Mainly Ak Code end */





@media screen and (max-width: 992px){
  .rightFooterText{
      font-size: 20px;
      text-align: center;
      }
      
      .leftFooterText{
      font-size: 20px;
      text-align: center;
      }
      
      .rightFooterLogo{
      display: flex;
      justify-content: center;
      }
}

@media screen and (max-width: 769px) {
  .SBTG {
    background-color: white;
    width: 100%;
  }
  .mainPicture {
    width: 0%;
  }
  .homePicture {
    height: 0%;
    width: 100%;
  }
  .HomeText {
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
 

  .entreeFont{
      font-family: MontaukLight;
      font-size: 20px;
      color: #5F002B;
      line-height: 1;
      margin-bottom: 0;
  }
  .priceFont{
      font-family: MontaukLight;
      font-size: 20px;
      color: #5F002B;
  }
  .padding{
      padding-left: 3% !important;
      padding-right: 3% !important;
  }
  .ourMenu{
      background-color: white;
      font-size:30px ;
      font-family: 'Fugaz One', sans-serif;
      text-align: center;
      color: #5F002B;
  
  }
  
}

@media screen and (max-width: 576px) {
  .indexFont{
    font-size: 25px ;
  }

  .logoSizing {
    width: 145px;
    height: auto;
  }
  .fugazOne {
    font-size: 25px;
  }
  p {
    font-size: 15px;
    font-family: MontaukRegular;
    color: #5f002b;
  }
  .THBTG {
    margin-top: 3%;
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
 

  .discFont2{
      font-family: MontaukLight;
      font-size: 18px !important;
      color: #5F002B;
      line-height: 1;
     
  }

  
  
}