body {
  background-image: url(../assets/bgtexture.jpg);
  color: #5f002b;
  font-size: 20px;
}

@font-face {
  font-family: MontaukBold;
  src: url(../Fonts/Montauk-Bold.otf);
}

@font-face {
  font-family: MontaukRegular;
  src: url(../Fonts/Montauk-Regular.otf);
}

@font-face {
  font-family: MontaukItalic;
  src: url(../Fonts/Montauk-Italic.otf);
}

@font-face {
  font-family: MontaukLight;
  src: url(../Fonts/Montauk-Light.otf);
  
}

.fugazOne {
  font-family: "Fugaz One", sans-serif;
}

.Montauk {
  font-family: MontaukRegular;
}

.boldMe {
  font-family: MontaukBold;
}

.italisizeMe {
  font-family: MontaukItalic;
}

.lighterText {
  font-family: MontaukLight;
}

.navFontAdjust {
  font-size: 20px;
  font-family: "Fugaz One", sans-serif;
  color: #5f002b;
}

.padding {
  padding-left: 7.29%;
  padding-right: 7.29%;
}
.centerMe
{
    display: flex;
    justify-content: center;
}